<div>
  <hr/>
  <span class="operation-category">Set a flag on executing actor:</span>
  <div class="operation-content-row">
    <div class="operation-content">
      <label for="flag">Flag:</label>
      <input type="text" name="flag" value="{{operation.flag}}" placeholder="Flag" required/>
    </div>
    <div class="operation-content">
      <label for="value">Value:</label>
      <input type="text" name="value" value="{{operation.value}}" placeholder="Value" required/>
    </div>
  </div>
</div>