<div>
  <hr/>
  <span class="operation-category">Create a player-input variable:</span>
  <div class="operation-content-row">
    <div class="operation-content">
      <label for="variableName">Variable Name:</label>
      <input type="text" name="variableName" value="{{operation.variableName}}" placeholder="Variable name" />
    </div>

    <div class="operation-content">
      <label for="key">Variable key:</label>
      <input type="text" name="key" value="{{operation.key}}" placeholder="Variable key" required/>
    </div>
  </div>
</div>