<div class="chat-card">
  <div class="card-header">
    <h3 class="card-title">{{localize "UTOPIA.CHAT.Harvestables"}}</h3>
  </div>
  <div class="card-content">
    <a class="card-action" data-action="viewDocument" data-document-id="{{harvest}}">
      <span>{{localize "UTOPIA.CHAT.Harvest"}}</span>
    </a>
  </div>
</div>