<div class="chat-card">
  
  <div class="card-header">
    <img class="card-header-icon" src="systems/utopia/assets/damage.svg" title="Damage" width="30" height="30" />
    <h3>Damage</h3>
  </div>

  <div class="card-content">
    <p>{{localize "UTOPIA.CHAT.ExactDamage" damage=exact}}</p>
  </div>

  <hr/>

  <footer data-visibility="gm">
    <div class="targets">
      {{#each damages as |damage|}}
        <img src="{{damage.target.img}}" alt="{{damage.target.name}}" width="40" height="40" data-tooltip="{{damage.target.name}}" />
      {{/each}}
    </div>
    <div class="card-actions">
      <button type="button" data-action="resolve"><i class="fa-fw fas fa-sword"></i> Resolve Damage</button>
      <button type="button" data-action="cancel"><i class="fa-fw fas fa-x"></i> Cancel Damage</button>
    </div>
  </footer>
</div>